<body>
    <header>
      <nav>
      </nav>
    </header>
    <main>
      <div class="magazine-card">
        <p>{{ magazine.title }}</p>
        {% for issue in magazine.issues.all %}
          <p>Issue: {{ issue.title }}</p>
        {% endfor %}
        {%for genre in magazine.genres.all%}
            <p>({{ genre.genre_name}})
        {%endfor%}
        <p>{{ magazine.description }}</p>
        <p>{{ magazine.releasecycle }}</p>
      </div>
    </main>
  </body>






{% for magazine in genre.magazines.all %}
{% for genre in magazines.genres.all %}