<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>

<body>
  <header>
    <nav>  
    </nav>
  </header>
<main>  
    <div class = 'book_card'
    <p>{{book.title}}</p>
    <p>{{book.author}}</p>
    <p>{{book.pages}}</p>
    </div>
</main>
   
</body>

</html>