<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>

<body>
  <header>
    <nav>  
    </nav>
  </header>
  <main>    
    {% for book in books %}
        <div class="book-card">
        <p>
            <a> href={% url 'book_details' book.pk %}>{{ book.title }} </a>
        </p>
        <p>{{book.title}}</p>
        <p> {{boom.reviews.all}}</p>
        <p>{{book.author}}</p>
        <p>{{book.pages}}</p>
        <p>{{book.isbn}}</p>
        <p>{{book.description}}</p>
        <p>{{book.year_published}}</p>
        <p>{{book.in_print}}</p>
        <p><img src={{book.image}} width=100px></p>
        </div>
    {% endfor %}
  </main>
</body>

</html>